.ProfilePageHeader {
    display: flex;
    margin-bottom: 20px;
}

.buttonsGroup {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.editBtn {
    margin-left: auto;
}

.btnWrapper {
    margin-left: auto;
}
