.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.data {
    width: 100%;
}

.input {
    width: 100%;
}

.loading .error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.avatarWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.select {
    margin-block: 10px;
}
